Package: com.anthopak.pancake
Name: PanCake
Depends: mobilesubstrate, ws.hbang.common (>= 1.14), com.opa334.altlist, firmware (>= 11.0)
Version: 1.2
Architecture: iphoneos-arm
Description: Interactive dismiss gesture on the whole screen in all apps
Maintainer: waruhachi
Author: AnthoPak
Section: Tweaks
